.Item {
  display:flex;
  width:420px;
  height:130px;
  margin-bottom:10px;
}
.leftImage {
  width:140px;
  height:130px;
}
.itemImage {
  width:140px;
  height:130px;
  overflow:hidden;
  
}
.rightInfo{
  width:280px;
  padding:5px;
}
.infoContent{
  margin:3px;
}
.price{
  display:flex;
  align-items: center;
  height:20px;
}
.originalPrice{
  text-decoration: line-through;
  color:gray;
  margin:0px;
  margin-right:5px;
  font-size:15px;
}
.discountPrice{
  font-size:20px;
  font-weight:bold;
  margin:0px;
}

.discountTag {
  border-style:solid;
  border-radius:5px;
  font-size:10px;
  padding:1px;
  margin:1px;
  color:red;
  border-width:1px;
  border-color:red;
  
}
.commentBox{
  display:flex;
  margin-top:10px;
  align-items: center;
}
.comments{
  margin-left: 50px;
}
.commentNumbers{
  margin-left: 10px
}